body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d1320;
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#editButtonView{
  transition: 0.3s;
}
#deleteButtonView{
  transition: 0.3s;
}
#checkButtonView{
  transition: 0.3s;
}
#editButtonView:hover{
  background-color: white;
  border-radius: 10px;
}
#deleteButtonView:hover{
  background-color: white;
  border-radius: 10px;
}
#checkButtonView:hover{
  background-color: white;
  border-radius: 10px;
}
.mainContainer{
  
}


#blogFormEditView{
  display: none;
}
.title{
  font-size: 45px;
    background: rgb(202,245,126);
    font-family: 'Belanosima', sans-serif;
    background: linear-gradient(90deg, rgba(202,245,126,1) 0%, rgba(116,250,162,1) 34%, rgba(5,255,198,1) 55%, rgba(0,237,255,1) 74%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.header{
  background : rgb(3,37,65);
  width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}
.content{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.blogBox{
  padding: 10px 10px;
  margin-top: 40px;
  border-radius: 8px;
  border: 2px solid rgba(116,250,162,1);
  height: 100%;
}
.titleHeadingA{
  font-size: 26px;
  margin-bottom: 5px;
  font-family: 'Belanosima', sans-serif;
  color: yellow;
}

.titleHeadingB{
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 26px;
  color: yellow;
  font-family: 'Belanosima', sans-serif;
}
.inputDesc{
  color: #0949e0;
  border: 2px solid purple;
  border-radius: 8px;
  font-size: 15px;
  font-family: 'Hind', sans-serif;
  font-weight: 600;
}
.inputTitle{
  border: 2px solid purple;
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-size: 20px;
  border-radius: 8px;
  width: 98%;

}
.submitButton{
  margin-top: 10px;
  width: 98%;
  background-color: purple;
  color: white;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.submitButton:hover{
  
  background-color:  #3e8e41;
  color: white;
}
.headingList{
  font-size: 30px;
  margin-left: 70px;
  width: 100%;
  font-family: 'Belanosima', sans-serif;
  background: rgb(180,58,132);
  background: linear-gradient(90deg, rgba(180,58,132,1) 0%, rgba(253,81,29,1) 23%, rgba(252,176,69,1) 85%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.pendingTaskList{
  
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  height: 80vh;
  width: fit-content;
  overflow-y: auto;
}
.completeTaskList{
  display: flex;
  flex-direction: column;
}

.taskItem{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 2px solid yellowgreen;
  border-radius: 8px;
  padding: 5px;
  margin-top: 8px;
  min-width: 280px;
  max-width: 280px
}
.iconEntry{
  
  position: absolute;
  right: 0px;
  top:-1px;
}
.dateIcon{
  font-size: 16px;
  display: flex;
  flex-direction: row;
  
  
  position: relative;
  padding: 4px;
}
.titleEntry{
  background-color: #c8f9f8;
  color: #0949e0;
  font-size: 22px;
  margin-top: 4px;
  font-family: 'Belanosima', sans-serif;
  border-bottom: 1px solid lightgrey;
}
.descEntry{
  font-size: 18px;
  font-family: 'Belanosima', sans-serif;
  
}
.idEntry{
  color: greenyellow;
}
.titleDesc{
  background-color: #c8f9f8;
  border-radius: 8px;
  padding-bottom: 7px;
  padding-right: 7px;
  padding-left: 4px;
  padding-top: 2px;
  margin-top: 3px;
}
